

/* modal links starts */

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 5px 5px;
    text-decoration: none;
    color:navy;
    border-radius: 2px 2px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: darkblue;
}

/* modal links ends*/

button {
margin-left:560px;
}



/*Accordion script starts*/

button.accordion {
    background-color: CornflowerBlue ;
    color: navy;
    cursor: pointer;
    padding:10px;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.6s;
    margin-left: 270px;
}

button.accordion.active, button.accordion:hover {
    background-color: Cornsilk ;
}

div.panel {
    padding: 0 18px;
    background-color: LightBlue ;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    color: black;
    margin-left: 330px;
    width: 70%;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}











