
table {
    width:70%;
}

table, th , td {
    border: 5px white;
    border-collapse: collapse;
    margin-left: 300px;
}

th, td {
    text-align: center;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #0077b3;
    color: #00111a;
    border: 3px #cce5ff;
}
table tr:nth-child(even) {
    background-color: #005580;
    color: #00111a;
    border: 3px #80bdff;
}




ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: orange;
}
